:root {
  /* light Theme color */
  --light-bg-color: rgb(156, 200, 235);
  --light-color: black;

  /* dark Theme color */
  --dark-bg-color: rgba(46, 44, 44, 0.781);
  --dark-color: white;

  --oragnered: orangered;
  --color-white: white;
  --shadow: 4px 4px 4px 4px rgba(148, 141, 141, 0.534);

  --border: 3px solid black;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* h2 {
  margin-block-end: 0;
} */
.wrapper {
  background: var(--light-bg-color);
  min-height: 100vh;
}
.container {
  width: 70%;
  margin: auto;
  max-width: 1400px;
}
/* .joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
} */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
}
/* dark-mode */
#dark-mode:checked + .wrapper {
  --light-bg-color: var(--dark-bg-color);
  color: var(--dark-color);
}
[type="checkbox"] {
  display: none;
}
.title {
  font-weight: bolder;
  text-decoration: underline;
  color: var(--oragnered);
  text-align: center;
}
/* Header section */
header {
  /* background: var(--light-bg-color); */
  /* height: 10vh; */
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  background: var(--light-bg-color);
}
header .header {
  justify-content: space-between;
  padding: 1rem;
}
header .logo {
  gap: 1rem;
  position: relative;
}
header .header .dark-mode {
  position: fixed;
  top: 7rem;
  left: 2rem;
}
header .header .dark-mode i:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s;
}
header .header .logo .logo-name {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}
header .header .logo .line::after {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  top: 2px;
  left: 6rem;
  background-color: var(--oragnered);
}
header .header .logo .logo-tag {
  /* font-size: 1.3rem; */
  font-weight: bold;
}
header .header-nav ul {
  gap: 1rem;
  font-size: 1rem;
}
header .header-nav ul {
  list-style: none;
}

header .header-nav ul li a {
  text-decoration: none;
  color: inherit;
}
header .header-nav ul li a:hover {
  background: var(--oragnered);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--color-white);
  transform: scale(1.3);
  transition: all 0.5s;
}
/* <!-- hero section --> */
.hero {
  background: var(--oragnered);
  color: inherit;
  margin-top: 4rem;
  padding: 5rem;
  height: 40vh;
  justify-content: space-between;
  position: relative;
  box-shadow: var(--shadow);
}
.hero .left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin-left: 10vw;
  /* padding: 7rem; */
  gap: 1rem;
}
.hero .left .tag {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bolder;
}
.hero .right {
  position: absolute;
  top: -5rem;
  right: 2rem;
}
.hero .left span {
  font-size: 1.5rem;
  font-weight: bold;
}
.hero .left button {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--dark-bg-color);
  color: inherit;
}
.hero .left button:hover {
  cursor: pointer;
  transform: scale(1.3);
  transform: all 0.3s;
}
/* <!-- banner section --> */
.banner {
  margin-top: 5rem;
  border: var(--border);
  border-radius: 30px;
  padding: 2rem 5rem;
  justify-content: space-around;
  gap: 1rem;
}
.banner .banner-items {
  gap: 1rem;
}
.banner .award {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--oragnered);
}
.banner .award i {
  font-size: 3rem;
  color: white;
}
.banner div span {
  font-size: 1rem;
  font-weight: bolder;
}
/* <!-- skill section --> */
.skills {
  margin-top: 5rem;
  /* border: var(--border); */
  padding: 2rem 5rem;
}
.skills .skill-container {
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}
.skills .skill-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.skills .skill-container div i {
  font-size: 3rem;
}
/* <!-- projects section --> */
.projects {
  margin-top: 5rem;
}
.projects .projects-container {
  gap: 1rem;
  box-shadow: var(--shadow);
  grid-template-columns: repeat(2, 1fr);
}
.projects .projects-container .card {
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.projects .projects-container .card .project-description {
  padding: 2rem;
}
.projects .projects-container .card .project-description .project-links {
  text-align: center;
}

/* <!-- about section --> */
.about {
  background-color: rgb(129, 221, 129);
  margin-top: 5rem;
  padding: 2rem 5rem;
  min-height: 30vh;
}
.about .right span {
  margin-right: 5px;
  font-weight: bolder;
}
/* <!-- contact section --> */
.contact {
  margin-top: 5rem;
}
.contact .social {
  gap: 4rem;
  margin-top: 2rem;
}
.contact .social i {
  font-size: 4rem;
}
.contact h3 {
  text-align: center;
  margin: 5rem 0;
}
.contact .email a {
  padding: 1rem 2rem;
  border-radius: 35px;
  background: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  gap: 2rem;
}
.contact .email a .send-email {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--oragnered);
}

/* <!-- footer section --> */
.footer {
  margin-top: 5rem;
  background: black;
  color: white;
  min-height: 40vh;
}
.footer .top {
  gap: 2rem;
}
.footer ul {
  list-style: none;
  padding-inline-start: 0;
}
.footer ul li {
  line-height: 1.5rem;
}

.footer ul li a {
  text-decoration: none;
}
.footer p {
  text-align: center;
}
/* go up */
.goUp {
  font-size: 3rem;
  background: var(--oragnered);
  width: 70px;
  height: 70px;
  border-radius: 50%;

  position: fixed;
  right: 20px;
  bottom: 60px;
}

/* media query */
@media (max-width: 768px) {
  .container {
    width: 65%;
  }
  /* <!-- hero section --> */
  .hero .right {
    position: relative;
    top: -3rem;
    right: -4rem;
  }
  .hero .left span {
    font-size: 1rem;
    font-weight: bold;
  }
  .hero .left .tag {
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: bolder;
  }
  .hero .left button {
    padding: 8px;
    border-radius: 10px;
    background-color: var(--dark-bg-color);
    color: inherit;
  }
}
